%h2
  Redigera #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :name, 'Namn'
    %br/
    = f.text_field :name, autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password, 'Nytt lösenord'
    %i (Lämna blank om du inte vill ändra)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation, 'Upprepa lösenord'
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password, 'Nyvarande lösenord'
    %i (Behövs för att verifiera att du är du)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Uppdatera"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
