- model_class = Event
.page-header
  .panel{ class: "panel-#{@event.status_color}" }
    .panel-heading
      %h3.panel-title Felanmälan
    .panel-body
      %p
        %strong
          Rubrik
        %br
        = @event.title
      %p
        %strong
          Beskrivning
        %br
        = @event.description
      %p
        %strong
          Prio
        %br
        = @event.prio
      %p
        %strong
          Tillhörande
        %br
        = link_to @event.vehicle.reg_num, vehicle_path(@event.vehicle)

      %hr

      %p
        #{(@event.try(:user).try(:name) || '-')}, #{@event.created_at.to_formatted_s(:short)}

      %br
      %p
        - if @event.done?
          Åtgärdad
        - else
          Ej årgärdad


%br
%br
%br

.form-actions
  = link_to 'Ändra', edit_event_path(@event), :class => 'btn btn-primary'
  = link_to 'Ta bort', event_path(@event), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
