- model_class = Crane
.page-header
  %h1
    Kranar
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        ID
      %th
        Storlek
      %th
        Fordon
      %th
        Tillverkare
      %th
        Årsmodell
  %tbody
    - @cranes.each do |crane|
      %tr{ data: {link: "#{crane_path(crane)}"} }
        %td= crane.name
        %td= crane.size
        %td= crane.try(:vehicle).try(:reg_num) || '-'
        %td= crane.brand
        %td= crane.year

%br
%br
%br

= link_to 'Ny', new_crane_path, :class => 'btn btn-primary'

= render 'shared/table_js'
