- model_class = Crane
.page-header
  .avatar-container
    .thumbnail
      - if @crane.idlable_pic.present?
        = image_tag @crane.idlable_pic.url(:medium)
      - else
        = image_tag 'missing_foto.png'
  %h1
    Kran

%p
  %strong
    ID:
  %br
  = @crane.name
%p
  %strong
    Storlek:
  %br
  = @crane.size
%p
  %strong
    Tillverkare:
  %br
  = @crane.brand
%p
  %strong
    Årsmodell:
  %br
  = @crane.year

%br
%br
%br

.form-actions
  = link_to 'Ändra', edit_crane_path(@crane), :class => 'btn btn-primary'
  = link_to 'Ta bort', crane_path(@crane), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
